<style>

    .box {
    
        padding:20px;
        margin-top: 10px;
        border-radius: 10px;
        box-shadow: 1px 1px 4px 4px rgb(211 211 211);
        background-color: white;
    }


</style>




<div class="box">
    <div class="row">
        <div class="col">
            <div class="form-group d-flex">
                <label class="col-4" for="Name" style="color:black">ID</label>
                <input type="email" class="form-control col-8" id="exampleFormControlInput1" style="border:1px solid black">
            </div>
            <div class="form-group d-flex">
                <label class=" col-4" for="Class" style="color:black">Class</label>
                <select class="form-control col-8" id="Class" style="border:1px solid black;">
                    <option>Middle</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>Graduation</option>

                </select>
            </div>
            <div class="form-group d-flex">
                <label class="  col-4" for="Dept" style="color:black">Dept</label>
                <select class="form-control col-8" id="Dept" style="border:1px solid black;">
                    <option>Acedmic</option>
                    <option>Computer</option>
                    <option>English Language</option>
                    <option>Islamic</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-group d-flex">
                <label class=" col-4" for="Year" style="color:black">Year</label>
                <input type="email" class="form-control col-8" id="exampleFormControlInput1" style="border:1px solid black">
            </div>
            <div class="form-group d-flex">
                <label class=" col-4" for="Add Date" style="color:black">AddDate</label>
                <select class="form-control col-8" id="Dept" style="border:1px solid black;">
                    <option></option>
                    <option>Computer</option>
                    <option>English Language</option>
                    <option>Islamic</option>
                </select>
            </div>

        </div>
        <div class="col">
            <div class="form-group d-flex">
                <label class=" col-4" for="Name" style="color:black">Name</label>
                <input type="email" class="form-control col-8" id="exampleFormControlInput1" style="border:1px solid black">
            </div>
            <div class="form-group d-flex">
                <label class="  col-4" for="Dept" style="color:black">Group</label>
                <select class="form-control col-8" id="Dept" style="border:1px solid black;">
                    <option>BIO SCience</option>
                    <option>Computer SCi</option>
                    <option>Pre-Eng</option>
                    <option>Pre-MEdical</option>
                    <option>Commerce</option>
                </select>
            </div>
            <div class="pull-right">
                <button class="btn btn-outline-primary col-12">Search</button>

            </div>
        </div>

    </div>

    <div class="row" style="margin-left:10px">
        <button class="btn btn-success col-2" style="margin:5px">COMPLETE</button>
        <button class="btn btn-danger col-1" style="margin:5px">LEFT</button>
        <button class="btn btn-secondary col-1" style="margin:5px">JOIN</button>
        <button class="btn btn-info col-2" style="margin:5px">READM</button>
    </div>
</div>